*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./assets/cat.png);
}
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: white;
  opacity: 0.6;
}

#app {
  height: 95dvh;
  padding: 0.5rem;
  position: relative;
}

.my-button {
  position: absolute;
  transform: translate(0, -50%);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: inherit;

  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.29);
}

.my-button:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}
